@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center {
        background-color: #001f3f; /* Navy blue background */
        color: white; /* White text for contrast */
        padding: 20px; /* Adding padding for better readability */
    }
</style>

<div class="text-center">
    <h1 class="display-4">WELCOME TO EMPLOYEE HEIRARCHY</h1>
    <p></p>
</div>
